# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Other
.DS_Store
.ipynb_checkpoints
*.pt
*.pth
*.bin
*.gguf
ggml/
build/