Pillow==10.1.0
pydantic==2.5.2
python-dotenv==1.0.0
PyYAML==6.0.1
sanic==23.6.0
grpcio==1.60.0
grpcio-tools==1.60.0
https://download.pytorch.org/whl/cpu/torch-1.12.1%2Bcpu-cp310-cp310-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.13.1%2Bcpu-cp310-cp310-linux_x86_64.whl